<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section class="data-enter-section">
        <form class="archive-data-enter" action="/" method="post">
            <input class="load-archive-button" type="file" accept=".xlsx, .xls, .csv">
            <input type="submit">
        </form>
    </section>
</body>
<script></script>
</html>